In [ ]:
import sqlalchemy as sqla
from sqlalchemy import create_engine      
import traceback
import glob
import os
from pprint import pprint
import simplejson as json
import requests
import time
from IPython.display import display
import mysql.connector
import execute
from sqlalchemy import text
import datetime
import json

In [ ]:
URI="dublin-bike.cfx88bgv82tk.us-east-1.rds.amazonaws.com"
PORT="3306"
DB="dbikes"
USER="admin"
PASSWORD="anxuhui1228"

In [ ]:
engine = create_engine('mysql+mysqlconnector://admin:anxuhui1228@dublin-bike.cfx88bgv82tk.us-east-1.rds.amazonaws.com/dbikes')
engine

In [ ]:
sql="""CREATE DATABASE IF NOT EXISTS dbikes;"""
conn=engine.connect()

res=conn.execute(text("SELECT 0"))
print(res)

In [ ]:
sql="""CREATE TABLE IF NOT EXISTS station(
ADDRESS VARCHAR(256),
banking INTEGER,
bike_stands INTEGER,
bonus INTEGER,
contract_name VARCHAR(256),
name VARCHAR(256),
position_lat REAL,
position_lng REAL,
status VARCHAR(256)
)"""
try:
    res=conn.execute(text("DROP TABLE IF EXISTS station"))
    res=conn.execute(text(sql))
    print(res.fetchall())
except Exception as e:
    print(e)

In [ ]:
sql="""CREATE TABLE IF NOT EXISTS avaliability(
number INTEGER,
avaliable_bikes INTEGER,
avalliable_bike_stands INTEGER,
last_update INTEGER
)"""
try:
    res=conn.execute(text(sql))
    print(res.fetchall())
except Exception as e:
    print(e)

In [ ]:
sql="""CREATE TABLE IF NOT EXISTS weather(
id INTEGER,
clouds INTEGER,
wind INTEGER,
dt_txt VARCHAR(256)
)"""
try:
    res=conn.execute(text(sql))
    print(res.fetchall())
except Exception as e:
    print(e)